<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'buscador_cep/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'buscador_cep/css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <title>Busca CEP</title>
</head>

<body>
    <nav>
        <h1>Buserteco CEP</h1>
    </nav>

    <div class="container">
        <h1>Busca CEP</h1>
        <div class="__container">
            <div>
                <label>Digite um CEP:</label>
            </div>
            <div>
                <input type="text" placeholder="Digite o número do CEP" />
            </div>
        </div>

        <div class="__container">
            <div>
                <label>Esse CEP é de:</label>
            </div>
            <div>
                <input type="text" placeholder="Todos" />
            </div>
        </div>

        <a href="./resultado.html">
            <button>Buscar</button>
        </a>
    </div>
</body>

</html>