{% extends 'index.html' %}



{% block conteudo %}

<div class="container--result">
    <h1>Resultado da Busca por Endereço ou CEP</h1>
    <div class="__container--result">
        <div class="title logradouro">Logradouro/Nome</div>
        <div class="title bairro--uf">Bairro/Distrito</div>
        <div class="title bairro--uf">Localidade/UF</div>
        <div class="title cep">CEP</div>
    </div>
    <div class="resultado">
        {% for campo in endereco %}
        <div class="r--logradouro">{{campo.rua}}</div>
        <div class="r--bairro--uf">{{campo.bairro}}</div>
        <div class="r--bairro--uf">{{campo.cidade}}</div>
        <div class="r--cep">{{campo.cep}}</div>
        {%endfor%}
    </div>
</div>
{% endblock %}